body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(219,0,104,1) 100%);
    color: hsl(0, 0%, 100%);
}
@media (min-width: 1400px){
    .container{
        max-width: 1400px;
    }
}

/* Nav bar */
.navbar-collapse{
    flex-grow: 0 !important;
}

/* Cards  index - upcoming - past*/
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-vermas:hover {
    background-color: #3a2cff;
}
.card {
    box-shadow: 1px 1px 2px 2px #3a2cff ; 
    color: black;
}
.card-img-container{
    height: 300px;
}
.card-img-top {
    object-fit: cover;
    height: 100%;
}
.card-img-notfound{
    object-fit: cover;
    max-height: 300px; max-width: 400px;
}

.card{
    transition: all 0.5s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff,0 0 30px #fff,0 0 40px;
    z-index: 1;
}
.card-content{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.card:hover .card-content{
    opacity: 1;
}

/* footer */
footer{
    background: radial-gradient(circle, rgba(219,0,104,1) 100%);
    color: white;
}

/* Contact Form */
.section-contact-form{
    max-width: 800px;
}
.input-error{
    border: red solid 3px;
}

/* Event details*/
.cardevent {
    flex-direction: row !important; 
    width: 100%;
    padding: 30px;
}
.der{
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Stats */
td:hover {
    background-color:  rgb(2,0,36);
}
table {
    caption-side: top;
}
.table caption{
    background-color: bisque;
    padding: 15px;
    height: 50px;
}
.stats-table{
    max-width: 800px;
    margin-top: 50px;
    
}
table td{
    color: white;
}